<div class="background-image">
  <div class="wrapper">
    <div class="menu">
      <h1> Geo APP! </h1>
      <nav>
        <ul>
          <li class="navigation"><a [routerLink] = "['/']">Home</a></li>
          <li class="navigation"><a [routerLink] = "['/about']">About</a></li>
          <li class="navigation"><a [routerLink] = "['/map']">Commercials</a></li>
          <li class="navigation active"><a [routerLink] = "['/submit']">Submit Advertisement</a></li>
        </ul>
      </nav>
    </div>
    <div class="page">
      <div class="article">
        <div class="commercialListDiv">
          <form id="form" class="topBefore" (ngSubmit)="addCommercial(company.value, credit.value, startDate.value)">
		          <input id="name" type="text" placeholder="Company" #company>
		          <input id="credit" type="number" placeholder="Credit" #credit>
              <input class="date" id="startDate" type="text" placeholder="Start Date (e.g. 2017/01/01)" #startDate>
              <input id="submit" type="submit" value="Submit!">
          </form>
        </div>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
