<div class="background-image">
  <div class="wrapper">
    <div class="menu">
      <h1> Geo APP! </h1>
      <nav>
        <ul>
          <li class="navigation"><a [routerLink] = "['/']">Home</a></li>
          <li class="navigation active"><a [routerLink] = "['/about']">About</a></li>
          <li class="navigation"><a [routerLink] = "['/map']">Commercials</a></li>
          <li class="navigation"><a [routerLink] = "['/submit']">Submit Advertisement</a></li>
        </ul>
      </nav>
    </div>
    <div class="page">
      <div class="article">
        <p class="article-title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <p class="article-text">
           Nunc vestibulum vel leo vitae condimentum. Praesent venenatis ligula at justo accumsan aliquam. Cras rhoncus sem id nisi bibendum, eget posuere velit faucibus. In rutrum vitae tellus quis blandit. Quisque vel pellentesque elit. Vivamus lobortis aliquam felis a convallis. Nullam non condimentum odio, scelerisque viverra lacus. Sed at nunc eget urna tincidunt malesuada. Nunc aliquet velit et metus tempor lacinia. Aliquam auctor sollicitudin urna vel pellentesque. Etiam in leo eget diam tempor facilisis nec a elit.
        </p>
      </div>
    </div>
  </div>
</div>
